@import url(https://fonts.googleapis.com/css2?family=Bebas+Neue&display=swap);

.headerDiv
{
    height: 76px;
    border-bottom: 5px solid black;
    margin-bottom: 16px;
    display: flex;
    align-items: center;
}

.iconDrawer
{
    flex: .5;
}

.titleText
{
  font-family: 'Bebas Neue', "cursive";
}
